.ball {
	border-radius:50%;
	filter: blur(5px);
	width:15px;
	height:15px;
	background-color:red;
	z-index:100;
	position:absolute;
	top: 0px;
	left:100px;
	-webkit-filter: blur(2px);
}

body {
	background-color:black;
}

audio {
	display:none;
}
